.table {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  color: #2c2222;
  background-color: rgb(255, 255, 255);
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
}
.table tr:nth-of-type(odd) {
  background-color: #a49dc4;
}
